.popup-product{
    border-radius: 10px;
    border: 1px solid white;
    /* position: fixed; */
    top: 150px;
    margin: auto;
    width: 40%;
    padding: 1%;
    /* font-family:Arial, Helvetica, sans-serif; */
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 76px;
    scroll-behavior: smooth;
    z-index:3;
    background: rgba(1,1,1,1.5); 

}

.popup-cross{
    position: relative;
    /* padding: 10px; */
    width: 100%;
    max-width: 300px;
    color: white;
}

.popup-cross .close-btn{
    /* position: absolute; */
    /* top:0px; */
    border-radius: 10px;
    margin-left: 10px;
    /* left:90%; */
    /* right: 0px; */
    background-color: white;
    cursor: pointer;
    color: black;
}

.product-content__input {
    width: 100%;
    /* margin: 2rem 1rem 1rem; */
  
    /* justify-content: center; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
  }
  .product-content__input textarea {
  
    flex: 2;
    width: 50%;
    min-height: 200px;
    text-align: center;
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* background: var(--color-footer); */
    border: 2px solid var(--color-footer);
    /* padding: 0 1rem; */
    /* outline: none; */
    /* color: #fff; */
  
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .product-content__input input {
    flex: 2;
    width: 80%;
    min-height: 50px;
    text-align: center;
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* background: var(--color-footer); */
    border: 2px solid var(--color-footer);
    /* padding: 0 1rem; */
    /* outline: none; */
    /* color: #fff; */
    border-radius: 10px;
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
  }
  
  .product-content__input button {
    flex: 0.6;
    width: 80%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #ff4820;
    border: 2px solid #ff4820;
    /* padding: 0 1rem; */
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    margin-bottom: 20px;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
  }
  
  @media screen and (max-width: 700px) {
      h1{
          
        margin-top: 1%;
      }
      .popup-product{
        border-radius: 10px;
        border: 1px solid white;
        /* position: fixed; */
        top: 150px;
        margin: auto;
        width: 80%;
        padding: 1%;
        /* font-family:Arial, Helvetica, sans-serif; */
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 76px;
        scroll-behavior: smooth;
    }
    .product-content__input {
      width: 100%;
    }
    .product-content__input input{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
    .product-content__input textarea{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }
  
  @media screen and (max-width: 550px) {
      /* h1{
          
          margin-top: 10%;
      } */

      .popup-product{
        border-radius: 10px;
        border: 1px solid white;
        /* position: fixed; */
        top: 150px;
        margin: auto;
        width: 80%;
        padding: 1%;
        /* font-family:Arial, Helvetica, sans-serif; */
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 76px;
        scroll-behavior: smooth;
    }
    .product-content__input {
      width: 100%;
    }
    .product-content__input input {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
    .product-content__input textarea {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }
  